<% layout("../layouts/boilerplate.ejs") %>

<div class="w-[90%] m-auto">
  <h2 class="mb-4">All Listings</h2>
  <!-- <form action="/listings/new" method="GET">
        <button class="bg-black text-white font-bold py-2 px-2 rounded">Create New Listing</button>
    </form> -->
  <div class="flex flex-wrap gap-[15px]">
    <% for (let listing of allListings) { %>
    <a
      href="/listings/<%= listing.id %>"
      class="!no-underline !p-0 !w-[28rem] md:!w-[20rem]"
    >
      <div class="card col !border-none !mb-10">
        <img
          src="<%= listing.image %>"
          class="card-img-top rounded-md !w-full !object-cover h-80"
          alt="listing_image"
        />
        <div class="card-body !p-0 !mt-2">
          <p class="card-text">
            <%= listing.title %><br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br />
            <i class="fa-solid fa-location-dot"></i> <%= listing.location %>,
            <%=listing.country %>
          </p>
        </div>
      </div>
      <% } %>
    </a>
  </div>
</div>

<!-- <ul>
  <% for (let listing of allListings) { %>
  <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
  <% } %>
</ul> -->
