<% layout("../layouts/boilerplate.ejs") %>

<h2>All Listings</h2>
<!-- <form action="/listings/new" method="GET">
        <button class="bg-black text-white font-bold py-2 px-2 rounded">Create New Listing</button>
    </form> -->
<div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 gap-18">
  <% for (let listing of allListings) { %>
  <a href="/listings/<%= listing.id %>" class="!no-underline">
    <div class="card col !border-none !mb-10">
      <img
        src="<%= listing.image %>"
        class="card-img-top rounded-md !w-full !object-cover h-80"
        alt="listing_image"
      />
      <div class="card-body !p-0">
        <p class="card-text">
          <%= listing.title %><br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br />
          <i class="fa-solid fa-location-dot"></i> <%= listing.location %>,
          <%=listing.country %>
        </p>
      </div>
    </div>
    <% } %>
  </a>
</div>

<!-- <ul>
  <% for (let listing of allListings) { %>
  <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
  <% } %>
</ul> -->
