<% layout("../layouts/boilerplate.ejs") %>

<div class="w-[90%] m-auto">
  <h2 class="mb-4">All Listings</h2>
  <!-- All Listings -->
  <div class="flex flex-wrap gap-[15px]">
    <% for (let listing of allListings) { %>
    <a
      href="/listings/<%= listing.id %>"
      class="!no-underline !p-0 !w-[28rem] md:!w-[20rem] rounded-lg shadow-md mb-6"
    >
      <div class="card col !border-none !mb-10">
        <img
          src="<%= listing.image %>"
          class="card-img-top !w-full !object-cover h-80 !p-2"
          alt="listing_image"
        />
        <div class="card-body !px-6  !py-2 !mt-2">
          <p class="card-text">
            <%= listing.title %><br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night <br />
            <i class="fa-solid fa-location-dot"></i> <%= listing.location %>,
            <%=listing.country %>
          </p>
        </div>
      </div>
      <% } %>
    </a>
  </div>
</div>

<!-- <ul>
  <% for (let listing of allListings) { %>
  <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
  <% } %>
</ul> -->
